{% load compress %}
{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>PARTY AT YOUR DOOR</title>

{#    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}" >#}

    <script src="https://unpkg.com/htmx.org@1.9.9" integrity="sha384-QFjmbokDn2DjBjq+fM+8LUIVrAgqcNW2s0PjAxHETgRn9l4fvX31ZxDxvwQnyMOX" crossorigin="anonymous"></script>

    {% compress css %}
        <link rel="stylesheet" href="{% static 'src/output.css' %}">
    {% endcompress %}
        <link rel="stylesheet" href="{% static 'src/styles.css' %}">

</head>
<body class="dekko-regular bg-black flex flex-col min-h-screen">
    <header class="bg-p3">
        {% block header %}

        {% endblock header %}
    </header>
{#    <div class="absolute inset-0 bg-black opacity-50"></div>#}


    <main class="flex-grow dekko-regular">
        {% block content %}

        {% endblock content %}
    </main>

    <footer class="bg-p3 text-g1 text-center">Instagram / Stay connected</footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.0/flowbite.min.js"></script>
</body>
</html>