{% extends "base.html" %}
{% load static %}


{% block content %}

    <div class="flex justify-center m-4">
      <!-- Top image -->
      <img class="w-6/12 h-auto m-4 pr-5" src="{% static 'images/partyatyourdoorimage_new.png' %}" alt="Party At Your Door">
    </div>

    <div class="px-10">

        <form id="roomIdForm" method="post">

            {% csrf_token %}
{#            {{ form.room_id }}#}
            <div>
                <label for="id_room_id" class="dokdo-regular block text-3xl mb-2 font-medium text-g1 dark:text-white">Room ID:<span class="dekko-regular text-o1 text-sm opacity-75"> Ask the host.</span></label>
                <input type="text" name="room_id" id="id_room_id" placeholder="------" class="text-white text-center text-2xl placeholder-white placeholder:text-center placeholder:text-xl bg-gradient-to-b from-p2 to-p1 border-2 border-black focus:placeholder-opacity-0 focus:border-black focus:ring-black block w-full" maxlength="6" required />
            </div>

            {% if form.errors %}
                <div class="error">
                    {% for field in form %}
                        {% for error in field.errors %}
                            <p class="text-red-500">{{ error }}</p>
                        {% endfor %}
                    {% endfor %}
                    {% for error in form.non_field_errors %}
                        <p class="text-red-500">{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}

            <h3 class="dokdo-regular text-3xl font-semibold text-g1 pt-3.5">
                Contact Info:<span class="dekko-regular text-o1 text-sm opacity-75"> Stay connected.</span>
            </h3>

            {#first last name div#}
            <div class="flex justify-between">
                <div class="">
                    <label for="id_first_name" class="dokdo-regular block text-xl mb-2 font-medium text-g1 dark:text-white"></label>
                    <input required type="text" name="first_name" id="id_first_name" placeholder="First Name:" class="text-white text-center placeholder-white placeholder:text-center bg-gradient-to-b from-p2 to-p1 border-2 border-black focus:placeholder-opacity-0 focus:border-black focus:ring-black text-sm block w-full p-2.5"/>
                </div>

                <div class="">
                    <label for="id_last_name" class="dokdo-regular block text-xl mb-2 font-medium text-g1 dark:text-white"></label>
                    <input type="text" name="last_name" id="id_last_name" placeholder="Last Name:" class="text-white text-center placeholder-white placeholder:text-center bg-gradient-to-b from-p2 to-p1 border-2 border-black focus:placeholder-opacity-0 focus:border-black focus:ring-black text-sm block w-full p-2.5"/>
                </div>
            </div>

            {#point of contact#}
            {{ form.social_types }}
{#            <div class="">#}
{#                <label for="id_social_types" class="dokdo-regular block text-xl mb-2 font-medium text-g1 dark:text-white"></label>#}
{#                <select name="social_types" id="id_social_types" class="text-white text-center bg-p4 border-2 border-black focus:border-black focus:ring-black text-sm block w-full p-2.5">#}
{#                    <option value="" disabled selected>--Choose a social contact option--</option>#}
{#                {% for social_type in contactinfo.social_type_choices %}#}
{#                    {% with social_type=social_types %}#}
{#                        <option value="{{ social_type }}">{{ social_type }}</option>#}
{#                    {% endwith %}#}
{#                {% endfor %}#}
    {#                <option value="tiktok">TikTok</option>#}
    {#                <option value="instagram">Instagram</option>#}
    {#                <option value="phone_number">Phone #</option>#}
    {#                <option value="email">Email</option>#}
{#                </select>#}
{#            </div>#}

            {#contact username#}
            <div>
                <label for="id_social_contact" class="dokdo-regular block text-xl mb-2 font-medium text-g1 dark:text-white"></label>
                <input required type="text" name="social_contact" id="id_social_contact" placeholder="--Type here" class="text-white placeholder-white placeholder:text-center focus:placeholder-opacity-0 bg-gradient-to-b from-p2 to-p1 border-2 border-black focus:border-black focus:ring-black text-sm block w-full p-2.5"/>
            </div>

            <div class="dokdo-regular flex justify-center my-4 pt-6">
                <button type="submit" class="text-g1 m-auto bg-p4 border-2 border-g1 hover:bg-p3 focus:ring-2 focus:outline-none focus:ring-g1 font-light text-3xl p-5 text-center">Let's Party</button>
            </div>
        </form>

        <p class="text-xs text-gray-500 pt-4">
            Disclaimer : All information collected will solely be used for Party At Your Door and will not be shared with third party vendors.
        </p>
    </div>

{% endblock %}

{#{% block script %}#}
{#    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>#}
{#    <script>#}
{#        $(document).ready(function() {#}
{#            $('#roomIdForm').on('submit', function(event) {#}
{#                event.preventDefault(); // Prevent the default form submission#}
{##}
{#                $.ajax({#}
{#                    url: $(this).attr('action'), // Use the form's action attribute#}
{#                    method: 'POST',#}
{#                    data: $(this).serialize(), // Serialize the form data#}
{#                    success: function(response) {#}
{#                        // Handle success (redirect or show success message)#}
{#                        window.location.href = response.redirect_url; // Change to your success behavior#}
{#                    },#}
{#                    error: function(xhr) {#}
{#                        // Handle errors#}
{#                        var errors = xhr.responseJSON.errors;#}
{#                        $('#roomIdError').html(''); // Clear previous errors#}
{#                        if (errors.room_id) {#}
{#                            $('#roomIdError').html(errors.room_id.join('<br>')); // Show errors under the field#}
{#                        }#}
{#                    }#}
{#                });#}
{#            });#}
{#        });#}
{#    </script>#}
{##}
{#{% endblock %}#}